{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{project_object.name}}</h1>
        <p>{{project_object.description}}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Assignee</td>
                    <td>Start date</td>
                    <td>Due date</td>
                    <td>Is completed</td>
                </tr>
            <tbody>
                {% for item in project_object.tasks.all %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.assignee}}</td>
                    <td>{{item.start_date}}</td>
                    <td>{{item.due_date|yesno}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
        <p>This project has no tasks</p>
    </div>
</main>
{% endblock content %}
